section {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}

.video-details {

    display: flex;
    align-items: start;
    padding: 1rem;

}

.btn {
    border-radius: 0px !important;
}